# This is Git's per-user configuration file.
# [user]
# Please adapt and uncomment the following lines:
#	name = U-JHL\gregor.redelonghi
#	email = gregor.redelonghi@PC-GREDELONGHI.jhl.si
#
#

[user]
	name = r-gregor
	email = gredelonghi@gmail.com
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[core]
	editor = vim
	# pager = cat
	pager = less -+F -+X
[push]
	default = simple
[color]
	ui = auto
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[credential]
	helper = cache
#
# 20240602
# from https://euroquis.nl//blabla/2024/06/01/git.html
[alias]
	flog = log --name-status
	glog = log --oneline --decorate --graph

